/* Section Padding using Design System */
/* Override any dynamically generated section padding classes */
.multicolumn [class*="section-"][class*="-padding"] {
  padding: var(--ds-space-xl) 0 !important; /* 32px top/bottom, 0 left/right on mobile */
  padding-top: calc(var(--ds-space-xl) * 2) !important; /* 64px top */
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media screen and (min-width: 750px) {
  .multicolumn [class*="section-"][class*="-padding"] {
    padding: var(--ds-space-xl) !important;
    padding-top: calc(var(--ds-space-xl) * 2) !important; /* 64px top */
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* Override page-width padding in multicolumn - use design system */
.multicolumn .page-width {
  max-width: none !important;
  padding: var(--ds-space-xl) 0 !important; /* 32px top/bottom, 0 left/right on mobile */
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media screen and (min-width: 750px) {
  .multicolumn .page-width {
    padding: var(--ds-space-xl) !important; /* 32px all sides on desktop */
  }
}

/* Override grid spacing variables to use design system */
.multicolumn {
  --grid-desktop-horizontal-spacing: 16px;
  --grid-mobile-horizontal-spacing: 16px;
  --grid-mobile-vertical-spacing: 12px;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper,
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

/* Right alignment support */
.multicolumn-list__item.right .multicolumn-card__info {
  text-align: right;
}

.multicolumn-list__item.right .link {
  justify-content: flex-end;
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.5rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}

/* Multicolumn - Overlay Mode */
.multicolumn-card--overlay {
  position: relative;
}

.multicolumn-card__media-wrapper {
  position: relative;
  width: 100%;
}

.multicolumn-card__overlay-info {
  position: absolute;
  left: 0;
  right: 0;
  padding: 2rem;
  color: white;
  z-index: 2;
}

.multicolumn-card__overlay-info--top {
  top: 0;
}

.multicolumn-card__overlay-info--center {
  top: 50%;
  transform: translateY(-50%);
}

.multicolumn-card__overlay-info--bottom {
  bottom: 0;
}

.multicolumn-card__overlay-info h3 {
  color: white;
  margin: 0 0 0.5rem 0;
  font-size: var(--ds-font-size-jumbo);
  font-weight: var(--ds-font-weight-light);
  text-transform: uppercase;
}

.multicolumn-card__overlay-info .rte {
  color: white;
  margin-bottom: 1rem;
  font-weight: var(--ds-font-weight-light);
  font-size: var(--ds-font-size-body-medium);
}

.multicolumn-card__overlay-info .link {
  color: white;
  text-transform: uppercase;
  font-size: var(--ds-font-size-body-tiny);
}

.multicolumn-card__overlay-info .link .svg-wrapper {
  display: none;
}

.multicolumn-card__overlay-info .link[aria-disabled="true"] {
  color: #AFAFAF;
  cursor: not-allowed;
}

/* Multicolumn - Gradient Overlay */
.multicolumn-card__media-wrapper--gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  z-index: 1;
  pointer-events: none;
}

/* Multicolumn - Video Support */
.multicolumn-card__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media .multicolumn-card__video {
  position: absolute;
  top: 0;
  left: 0;
}
